.App {
  text-align: center;
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.App-logo1 {
  height: 100vh;
  width: 100vh;
  margin-bottom: 20px;
}

.App-header {
  background-color: #282c34;
  padding: 40px;
  border-radius: 12px;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar {
  background-color: #222;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #4fc3f7;
}
